<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}

    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }

    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;}
    }



  </style>
  <!-- Using http://npr.github.io/responsiveiframe/ -->
  <script src="javascripts/jquery.responsiveiframe.js"></script>
  <script type='text/javascript'>
    $(function() {
      $('iframe').responsiveIframe({xdomain: '*'});
    });
  </script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid text-center">

  <div class="row content">
    <div class="col-sm-2 sidenav" id="linksfeed">
      <p><a href="http://www.xinhuanet.com/english/2019-06/12/c_138137970.htm" target="if_src">Senior political advisors study Xi's remarks on united front work</a></p>
      <p><a href="http://www.xinhuanet.com/english/2019-06/13/c_138138048.htm" target="if_src">Senior CPC official calls for more intelligent methods in political, legal work</a></p>
      <p><a href="http://www.xinhuanet.com/english/2019-06/13/c_138138026.htm" target="if_src">China to boost social credit system with new market regulatory measures</a></p>
    </div>

    <div class="col-sm-7 text-left border border-primary">
      <div class="border border-secondary" style="border: 3px solid green;">
        <iframe name="if_src" width="760" height="320"
        frameBorder="0"
        src="http://www.xinhuanet.com/english/2019-06/11/c_138134646.htm" ></iframe>
      </div>
      <div class="border border-secondary" style="border: 3px solid red;">
        <h3>Processed Page</h3>
        <p>Lorem ipsum...</p>
      </div>
    </div>
    <div class="col-sm-3 text-center">
      <div class="well">
        <p>ADS</p>
      </div>
      <div class="well">
        <p>ADS</p>
      </div>
    </div>
  </div>
</div>
<!-- Load React. -->
<!-- Note: when deploying, replace "development.js" with "production.min.js". -->
<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
<script src="https://unpkg.com/babel-standalone@6.26.0/babel.min.js"></script>
<!-- Load our React component. -->
<script type="text/babel" src="javascripts/app/linklist.jsx"></script>

</body>
</html>
